*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle1{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2.5px solid black;
  background-color: red;
}

.circleyellow1{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2.5px solid black;
  background-color: #F2CD13;
}

.circlegreen1{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2.5px solid black;
  background-color: green;
}

.circle2{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2.5px solid black;
  background-color: white;
}

.circleyellow2{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2.5px solid black;
  background-color: white;
}

.circlegreen2{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2.5px solid black;
  background-color: white;
}

.mydivdata
{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2.5px solid black;
  margin-top: 2rem;
  background-color: blueviolet;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mytimebox{
  display: flex;
  padding: 10px;
  flex-direction: column;
  font-size: 160%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5E5E5;
  margin-top: 10px;
  text-shadow: 1.2px 1.2px 1.2px black;
  border: 2.1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
